<h1><img src="<%=asset_url('amritaa.png')%>" alt="Amrita Fredrick"/></h1>
<div class="nav">
	<a class="item" href="http://www.wordfaire.com/amritafredrick/">words</a>
	<a class="item" href="http://www.sudhirjonathan.com">love</a>
	<a class="item" href="mailto:amrita.f@gmail.com">contact</a>
</div>